In [1]:
%load_ext sql

In [1]:
%sql ibm_db_sa://***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB

UsageError: Line magic function `%sql` not found.

#Problem 1: Find the total number of crimes recorded in the crime table.

In [3]:
%%sql 
select COUNT(*) as Number_of_Crimes from CHICAGO_CRIME_DATA LIMIT 10

 * ibm_db_sa://thp91850:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
Done.

[(Decimal('533'),)]

Problem 2: Retrieve first 10 rows from the CRIME table.

In [4]:
%%sql
select * from CHICAGO_CRIME_DATA LIMIT 10

 * ibm_db_sa://thp91850:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
Done.

[(3512276, 'HK587712', '047XX S KEDZIE AVE', '890', 'THEFT', 'FROM BUILDING', 'SMALL RETAIL STORE', 'False', 'False', 911, 9, Decimal('14.0'), Decimal('58.0'), '6', Decimal('1155838.0'), Decimal('1873050.0'), 2004, '41.807440500000006', Decimal('-87.70395585000000'), '(41.8074405, -87.703955849)'),
 (3406613, 'HK456306', '009XX N CENTRAL PARK AVE', '820', 'THEFT', '$500 AND UNDER', 'OTHER', 'False', 'False', 1112, 11, Decimal('27.0'), Decimal('23.0'), '6', Decimal('1152206.0'), Decimal('1906127.0'), 2004, '41.89827996', Decimal('-87.71640551000000'), '(41.898279962, -87.716405505)'),
 (8002131, 'HT233595', '043XX S WABASH AVE', '820', 'THEFT', '$500 AND UNDER', 'NURSING HOME/RETIREMENT HOME', 'False', 'False', 221, 2, Decimal('3.0'), Decimal('38.0'), '6', Decimal('1177436.0'), Decimal('1876313.0'), 2011, '41.81593313', Decimal('-87.62464213000000'), '(41.815933131, -87.624642127)'),
 (7903289, 'HT133522', '083XX S KINGSTON AVE', '840', 'THEFT', 'FINANCIAL ID THEFT: OVER $300', 'RESIDENCE', 'False', 'False', 423, 4, Decimal('7.0'), Decimal('46.0'), '6', Decimal('1194622.0'), Decimal('1850125.0'), 2010, '41.74366532', Decimal('-87.56246276000000'), '(41.743665322, -87.562462756)'),
 (10402076, 'HZ138551', '033XX W 66TH ST', '820', 'THEFT', '$500 AND UNDER', 'ALLEY', 'False', 'False', 831, 8, Decimal('15.0'), Decimal('66.0'), '6', Decimal('1155240.0'), Decimal('1860661.0'), 2016, '41.773455299999995', Decimal('-87.70648047000000'), '(41.773455295, -87.706480471)'),
 (7732712, 'HS540106', '006XX W CHICAGO AVE', '810', 'THEFT', 'OVER $500', 'PARKING LOT/GARAGE(NON.RESID.)', 'False', 'False', 1323, 12, Decimal('27.0'), Decimal('24.0'), '6', Decimal('1171668.0'), Decimal('1905607.0'), 2010, '41.89644677', Decimal('-87.64493868000000'), '(41.896446772, -87.644938678)'),
 (10769475, 'HZ534771', '050XX N KEDZIE AVE', '810', 'THEFT', 'OVER $500', 'STREET', 'False', 'False', 1713, 17, Decimal('33.0'), Decimal('14.0'), '6', Decimal('1154133.0'), Decimal('1933314.0'), 2016, '41.97284491', Decimal('-87.70860008000000'), '(41.972844913, -87.708600079)'),
 (4494340, 'HL793243', '005XX E PERSHING RD', '860', 'THEFT', 'RETAIL THEFT', 'GROCERY FOOD STORE', 'True', 'False', 213, 2, Decimal('3.0'), Decimal('38.0'), '6', Decimal('1180448.0'), Decimal('1879234.0'), 2005, '41.82387989', Decimal('-87.61350386000000'), '(41.823879885, -87.613503857)'),
 (3778925, 'HL149610', '100XX S WASHTENAW AVE', '810', 'THEFT', 'OVER $500', 'STREET', 'False', 'False', 2211, 22, Decimal('19.0'), Decimal('72.0'), '6', Decimal('1160129.0'), Decimal('1838040.0'), 2005, '41.71128051', Decimal('-87.68917909999999'), '(41.711280513, -87.689179097)'),
 (3324217, 'HK361551', '033XX W BELMONT AVE', '820', 'THEFT', '$500 AND UNDER', 'SMALL RETAIL STORE', 'False', 'False', 1733, 17, Decimal('35.0'), Decimal('21.0'), '6', Decimal('1153590.0'), Decimal('1921084.0'), 2004, '41.93929582', Decimal('-87.71092344000000'), '(41.939295821, -87.710923442)')]

Problem 3: How many crimes involve an arrest.

In [15]:
%%sql 
select count(*) as Number_of_arrest from CHICAGO_CRIME_DATA
where ARREST = 'True'

 * ibm_db_sa://thp91850:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
Done.

[(Decimal('163'),)]

Problem 4: Which unique types of crimes (e.g. THEFT) have been recorded at a GAS STATION locations?

In [6]:
%%sql 
select distinct primary_type from CHICAGO_CRIME_DATA
where location_description = 'GAS STATION'

 * ibm_db_sa://thp91850:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
Done.

[('CRIMINAL TRESPASS',), ('NARCOTICS',), ('ROBBERY',), ('THEFT',)]

Problem 5: In the CENUS_DATA table list all community areas whose names start with the letter ‘B’.

In [7]:
%%sql 
select community_area_name from CENSUS_DATA
where community_area_name like 'B%'

 * ibm_db_sa://thp91850:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
Done.

[('Belmont Cragin',),
 ('Burnside',),
 ('Brighton Park',),
 ('Bridgeport',),
 ('Beverly',)]

Problem 6: List the schools in community areas 10 to 15 that are healthy school certified.

In [17]:
%%sql
select name_of_school, community_area_number, healthy_school_certified from CHICAGO_PUBLIC_SCHOOLS 
where healthy_school_certified = 'Yes' and community_area_number<=15 and community_area_number>=10
order by community_area_number

 * ibm_db_sa://thp91850:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
Done.

[('Rufus M Hitch Elementary School', 10, 'Yes')]

Problem 7: What is the average school Safety Score

In [18]:
%%sql
select AVG(safety_score) as Average_Safety_Score from CHICAGO_PUBLIC_SCHOOLS

 * ibm_db_sa://thp91850:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
Done.

[(Decimal('49.504873'),)]

Problem 8: Find the top 5 Community Areas by average College Enrollment [number of students].

In [11]:
%%sql
select community_area_name, sum(college_enrollment)/count(community_area_number) as average_enrollment 
from CHICAGO_PUBLIC_SCHOOLS
group by community_area_name
order by average_enrollment desc LIMIT 5

 * ibm_db_sa://thp91850:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
Done.

[('ARCHER HEIGHTS', Decimal('2411.500000000000')),
 ('MONTCLARE', Decimal('1317.000000000000')),
 ('WEST ELSDON', Decimal('1233.333333333333')),
 ('BRIGHTON PARK', Decimal('1205.875000000000')),
 ('BELMONT CRAGIN', Decimal('1198.833333333333'))]

Problem 9: Use a sub-query todeterminewhich Community Area has the least value for school Safety Score?

In [12]:
%%sql
select community_area_name, sum(safety_score)/count(community_area_name) as sum_safety_score from CHICAGO_PUBLIC_SCHOOLS 
group by community_area_name
order by sum_safety_score
LIMIT 5

 * ibm_db_sa://thp91850:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
Done.

[('MCKINLEY PARK', Decimal('15.000000000000')),
 ('SOUTH SHORE', Decimal('22.666666666666')),
 ('WEST PULLMAN', Decimal('23.700000000000')),
 ('WASHINGTON PARK', Decimal('25.400000000000')),
 ('SOUTH CHICAGO', Decimal('27.000000000000'))]

In [13]:
%%sql
select name_of_school, community_area_number, community_area_name, college_enrollment from CHICAGO_PUBLIC_SCHOOLS
order by college_enrollment desc LIMIT 5

 * ibm_db_sa://thp91850:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
Done.

[('Albert G Lane Technical High School', 5, 'NORTH CENTER', 4368),
 ('Marie Sklodowska Curie Metropolitan High School', 57, 'ARCHER HEIGHTS', 3320),
 ('William Howard Taft High School', 10, 'NORWOOD PARK', 2922),
 ('Thomas Kelly High School', 58, 'BRIGHTON PARK', 2883),
 ('Carl Schurz High School', 16, 'IRVING PARK', 2366)]

Problem 10: [Without using an explicit JOIN operator] Find the Per Capita Income of the Community Area which has a school Safety Score of 1.

In [14]:
%%sql 
select S.community_area_name, S.community_area_number, S.safety_score, C.per_capita_income 
from CHICAGO_PUBLIC_SCHOOLS as S, CENSUS_DATA as C
where safety_score = 1 and S.community_area_number=C.community_area_number
limit 10

 * ibm_db_sa://thp91850:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
Done.

[('WASHINGTON PARK', 40, 1, 13785)]